.chat {
    $color: #009480;

    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    &__header{
        font-size: 40px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;

        &__link{
            font-size: 24px;
            margin: 10px 0;
            color: $color;
        }
    }

    &__box,
    &__overlay{
        width: 70%;
        height: 50vh;
    }

    &__overlay{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5FD2B5;
        font-size: 40px;
        line-height: 1.2;
    }

    &__form{
        display: flex;
        justify-content: center;
        margin: 5px;
    }

    &__message {
        display: flex;
        flex-direction: column;
        background-color: #00E4C5;
        width: 60%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 10px;

        &_user{
            margin-left: auto;
        }

        &-list{
            height: 100%;
            font-size: 16px;
            background-color: #6DF1DF;
            padding: 20px 30px;
            margin: 5px;
            overflow-y: scroll;
        }

        &__author{
            color: gray;
            font-size: 14px;
        }
    }

    &__chats-list{
        width: 30%;

        &__link{
            color: $color;
            text-decoration: none;
        }
    }
}
